<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Higher Hires</title> {{!--This should be set dynamically later--}}

    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/arjunmehta/heartbeats/image/heartbeats.png">
</head>