<!DOCTYPE html>
<html lang="en">
    {{> head }}
<body>
    <header>
        {{> header}}
    </header>
    <main>
        {{{body}}}
    </main>
    {{> scripts}}
    <footer>
        {{footer}}
    </footer>
</body>
</html>