<div class="container">
      <div class="row">
        <div class="col s12">
          <h1 style="color: white; font-size: 200px; text-shadow: 3px 1px 10px rgba(150, 150, 150, 1);">HELLO.</h1>
        </div>
        <div class="col s12">
          <h2>We're Higher Hires. A revolutionary new way for online interviews. We use biodata analysis to help recruiters gauge their recruits.</h2>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <a href="interviewer" class="waves-effect waves-light orange darken-1 btn">Interviewers Click Here!</a>
        </div>
        <div class="col s6">
          <a href="interviewee" class="waves-effect waves-light orange darken-1 btn">Interviewee Click Here!</a>
        </div>
      </div>
</div>