<div id="vid-box" center></div>
    <div>
        <h3>Analysis</h3>
        <h6>Anger:</h6><h6 id="e1"></h6>
        <h6>Contempt:</h6><h6 id="e2"></h6>
        <h6>Fear:</h6><h6 id="e3"></h6>
        <h6>Happiness:</h6><h6 id="e4"></h6>
        <h6>Surprise:</h6><h6 id="e5"></h6>
        <h6>Heart Rate:</h6><h6 id="hr"></h6>
    </div>

<button class="waves-effect waves-light orange darken-1 btn" onclick="login()">Ready?</button>
<button class="waves-effect waves-light orange darken-1 btn" onclick="makeCall()">Start Call</button>
<button class="waves-effect waves-light orange darken-1 btn" onclick="re()">End Call</button>